* {
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: Avenir, system-ui , Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #000;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  margin: 0;
}

.box {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 999;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #878787;
}

h1 {
  font-size: 3em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #b5b5b5;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #9c9c9c;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.container {
  max-width: 1200px;
  width: 100%;
  width: calc(100% - 1rem);
  margin-top: 20px;
  margin-bottom: 20px;
  margin: auto;
}

input {
  border-radius: 13px;
  border-color: #000;
}
input:focus {
  outline: none;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
